
.equationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--foreground);
    border-radius: 10px;
    width: 100%;
    height: 80px;
}