.hero {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 70px;
  background-image: url('/assets/Hero.png');
  background-size: cover;
  background-position: center;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: self-end;
}

.startButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  padding: 12px 24px;
  background: #EFEFEF;
  color: #000000;

  border: none;
  border-radius: 9999px;
  cursor: pointer;

  font-family: var(--font-tilt-warp);
  font-size: 1.25rem;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.2s ease, transform 0.2s ease;
}

.startButton:hover {
  background: #3E37C2;
  color: #EFEFEF;
}

.startButton:active {
  background: #312FA3;
  color: #fff;
  transform: translateY(1px);
}

.startButton h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.startIcon {
  width: 40px;
  height: 40px;
  transition: inherit;
}