.hero {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-image: url('/assets/Hero.png');
  background-size: cover;
  background-position: center;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.startButton {
  color: white;
  border: none;
  padding: 15px;
  font-size: 24px;
  border-radius: 120px;
  cursor: pointer;
  background-color: #4F46E5;
}
