@import "tailwindcss";

.simulatorRoot {
  height: 97vh;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.content {
  flex: 1;
  min-height: 0;

  background: var(--foreground);
  color: var(--foreground);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  border-radius: 20px;

}

.headerBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}