@import "tailwindcss";



.content {
  background: var(--foreground);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 100%;

}

body > * {
  width: 100% ;
  height: 95vh ;
  min-height: 600px ;
  border-radius: 20px;
}