

.menuBar{
    z-index: 9999;
}


.tabTrigger{
    color: var(--primary);
}


.tabTrigger[data-state="active"]{
    background-color: var(--primary);
    color: white;
    
}


@media (max-width: 768px) {
  .menuBar {
    display: none;
  }
}