.notebook {
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 20px;
}

.notebook img {
	width: 700px;
	height: 500px;
	border-radius: 2px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--foreground);
}

.textContainer h2 {
	font-family: var(--font-tilt-warp);
	font-size: clamp(2rem, 4vw, 3.2rem);
	line-height: 1;
	color: #1f1f1c;
	margin: 0;
}
.textContainer > button {
	width: fit-content;
}

@media (max-width: 900px) {
	.notebook {
		flex-direction: column;
		display: flex;
		align-self: center;
		padding: 20px;
		height: fit-content;

	}

	.notebook img {
		width: 100%;
		height: auto;
		
	}
}
