.parametre {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 10px;
}


.parametre h1{
  font-size: 1.5em;
  margin-bottom: 20px;
}


.sliderContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 20px;
}