@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #efefef;
  }
}

.containerLanding {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerLanding> * {
  width: 100%;
  height: 95vh;
  border-radius: 20px;
}

h1 {
  color: white;
  text-align: left;
  padding: 10%;
  font-family: var(--font-tilt-warp);
  font-size: 8vw;
  line-height: 1;
} 

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: var(--font-lato);
}