@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #efefef;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 100%;
}

body > * {
  width: 100% ;
  height: 95vh ;
  min-height: 600px ;
  border-radius: 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: var(--font-lato);
}

h1 {
  color: white;
  text-align: left;
  padding: 10%;
  font-family: var(--font-tilt-warp);
  font-size: 8vw;
  line-height: 1;
} 

.hero {
  background-image: url('/hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
}

.hero .left{
  width: 50%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.hero .right{
  width: 50%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.bento{

  padding: 40px;
  border-radius: 20px;
}


.startButton {
  color: white;
  border: none;
  padding: 30px;
  font-size: 24px;
  border-radius: 120px;
  cursor: pointer;
}

.notebook{
  background-color : white;
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}