/* MobileWarning.module.css */
.mobileWarning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('/assets/Hero.png') no-repeat center center fixed;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: white;
  padding: 2rem;
  max-width: 400px;
}

.content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}


/* Afficher sur mobile et tablette */
@media (max-width: 768px) {
  .mobileWarning {
    display: flex;
  }

}